body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    color:white;
}
.Title{
    text-align:center;
    color: white;
    font-size:18px;
    font-family:system-ui;
    margin: auto;
    width: max-content;
}
#Form_container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(10, 10, 10, 0.925);
    width: 90%;
    height: 60%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#input,.btn,#real_phone_num{
    display: flex;
    width:179px;
    margin: auto;
    margin-top: 25px;
    border-radius: 3px;
    height: 30px;
    border:none;
    padding: 8px;
    text-align: center;
    font-family: system-ui;
}
.btn{
    display: block;
    height: 45px;
    width:195px;
    background-color: blue;
    color: white;
}

.cpNumber{
    background-color:rgb(40, 26, 243);
    border: none;
    padding:10px;
    border-radius:4px;
    cursor: pointer;;
     color: aliceblue;
     margin: auto;
     position: relative;
     top: 50px;

}
.list_num_icon{   
    position: fixed;
    left: 9px;
    top: 7px;
    cursor: pointer;
}
.number_list{
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 400px;
    height:270px;
    border-radius: 4px;
    display:none;
}
.hidesavedNum{
    display:block;
}
@media(min-width:700px){
    #Form_container{
        max-width: 700px;
    }
}